!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %title Let people edit 
    %meta(charset="utf-8")
    %link(rel="stylesheet" href="/stylesheets/main.css"
%body
  = yield
  
  %script(src="/javascripts/main.js")